#content-wrapper {
  background-color: #C1CAF5 !important;
}

footer{
  background-color: #C1CAF5 !important;
  color:#000;
}
/*
.card{
  background-color: #F3F3F3 !important;
}
*/
label {
  margin-top: 3px;
  margin-left: 15px;
  margin-bottom: -5px;
  color:#000;
}

input {
  height: 30px !important;
  margin-right: 25px;
}

#subtitulo_modal {
  margin-bottom: 20px;
}

.col {
  margin: 0px !important;
  padding: 0px !important;
}

.form-check-input{
  margin-top: -2px !important;
}

/* Colores de texto */
.color_black{
  color:#000 !important;
}

.color_blue{
  color:#1D76C4;
}

.color_green{
  color:#15B337;
}

.color_red{
  color:#E42727;
}

.icon_status{
  font-size: 25px;
}

.display_none{
  display:none;
}

#tb_tarjetas_filter{
  margin-bottom:15px !important;
}

#tb_tarjetas_length{
  margin-bottom:15px !important;
}
